# GITIGNORE template for Wwise Project
# TODO: Flatten this into the parent gitignore. It should be redundant. - Ryan

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
